# Application
.DS_Store
node_modules/
npm-debug.log

# IDE Config Files
/nbproject
/.idea
/.vscode

## Sublime Text cache files
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project

## Vim cache files
*.swp
*.swo
*.swn

